<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Last task created</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="nones">
      <ion-icon
        name="hourglass-outline"
        slot="start"
        color="warning"
      ></ion-icon>
      <ion-label>
        Your Employer
        <br />
        <p>On hold</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Created at 3/04/2022</p>
        <p>
          Notes: We want you to create facebook UI for our website, which we
          talked about in our zoom session
        </p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">
      Check information
    </ion-button>
    <ion-button color="success" fill="clear" size="full">
      Claim task
    </ion-button>
  </ion-card-content>
</ion-card>
